{% extends 'photo_base.html' %}

{% block title %}
    {{ object.text|truncatechars:10 }}  {% comment %} truncatechars: 문자가 지정된 글자 수 이상이면 ... 으로 줄여줌. {% endcomment %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 panel panel-default">
        <img src="{{ object.photo.url }}" class="img-rounded img-responsive"><br/>
        <p>{{ object.text }}</p>
        <p><a href="{% url 'photo:post_update' object.id %}" class="btn btn-default">Update Post</a> <a href="{% url 'photo:post_delete' object.id %}" class="btn btn-default">Delete Post</a></p>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 panel panel-default">
        Tags:
        {% load tagging_tags %}
        {% tags_for_object object as tags %}
        {% for tag in tags %}
            <a href="{% url 'photo:tag_post_list' tag.name %}">{{ tag.name }}</a>
        {% endfor %}
    </div>
    <div class="col-md-4"></div>
</div>

{% endblock %}